<!DOCTYPE html>
<html lang="en">
<!-- <<<<<<< HEAD -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>eBuseo</title>
</head>

<body class="body">
    <section class="header">
        <div class="logo">
            <i class="ri-menu-line menu"></i>
            <h2><span>ebus</span>eo</h2>

            <head>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="../static/dashboard.css">
                <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
                <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
                <title>eBuseo</title>
            </head>

            <body class="body">
                <section class="header">
                    <div class="logo">
                        <i class="ri-menu-line menu"></i>
                        <h2><span>ebus</span>eo</h2>
                    </div>
                    <div class="header--items">
                        <div class="dark--theme--btn">
                            <i class="ri-moon-line moon"></i>
                            <i class="ri-sun-line sun"></i>

                        </div>
                        <div class="header--items">
                            <div class="dark--theme--btn">
                                <i class="ri-moon-line moon"></i>
                                <i class="ri-sun-line sun"></i>
                            </div>
                            <div class="profile">
                                <span class="icon"><i class="ri-account-circle-fill"></i></span>
                            </div>
                        </div>
                        <!-- <<<<<<< HEAD -->
                </section>
                <section class="main">
                    <div class="sidebar">
                        <ul class="sidebar--items">
                            <li>
                                <a href="#" class="active">
                                    <span class="icon"><i class="ri-apps-2-line"></i></span>
                                    <div class="sidebar--item">Overview</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon"><i class="ri-bus-2-line"></i></span>
                                    <div class="sidebar--item">Bus Timetable</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon"><i class="ri-user-line"></i></span>
                                    <div class="sidebar--item">Driver</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon"><i class="ri-notification-2-line"></i></span>
                                    <div class="sidebar--item">Notification</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon"><i class="ri-settings-3-line"></i></span>
                                    <div class="sidebar--item">Settings</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="sidebar--bottom--items">
                            <li>
                                <a href="#">
                                    <span class="icon"><i class="ri-question-line"></i></span>
                                    <div class="sidebar--item">Help</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon"><i class="ri-arrow-drop-left-line"></i></span>
                                    <div class="sidebar--item">Collapse</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <script src="../static/js/dashboard.js"></script>

            </body>


        </div>
    </section>
    <section class="main">
        <div class="sidebar">
            <ul class="sidebar--items">
                <li>
                    <a href="#" class="active">
                        <span class="icon"><i class="ri-apps-2-line"></i></span>
                        <div class="sidebar--item">Overview</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="ri-bus-2-line"></i></span>
                        <div class="sidebar--item">Bus Timetable</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="ri-user-line"></i></span>
                        <div class="sidebar--item">Driver</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="ri-notification-2-line"></i></span>
                        <div class="sidebar--item">Notification</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="ri-settings-3-line"></i></span>
                        <div class="sidebar--item">Settings</div>
                    </a>
                </li>
            </ul>
            <ul class="sidebar--bottom--items">
                <li>
                    <a href="#">
                        <span class="icon"><i class="ri-question-line"></i></span>
                        <div class="sidebar--item">Help</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="ri-arrow-drop-left-line"></i></span>
                        <div class="sidebar--item">Collapse</div>
                    </a>
                </li>
            </ul>
        </div>
        <script src="../static/dashboard.js"></script>

</body>

</html>